body {
    margin: 0;
    overflow: hidden;
}

nav {
    height: 42px;
    background-color: #161616;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

nav > a {
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    float: right;
    margin-right: 20px;
}

#fileinput {
    position: absolute;
    top: -100px;
}

i:hover {
    color: #ccc
}

i {
    color: #fff;
}

.highlighted {
    color: #e4ad2f;
}

.disabled {
    color: #888888;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
}

#dialog-url {
    color: #555;
    font-size: 16px;
    margin-left: 4px;
}

#info {
    position: absolute;
    left: 20px;
    top: 64px;
}

p {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333333;
}

#left {
    position: absolute;
    margin: auto;
    left: 20px;
    width: 42px;
    top: 50%;
    transform: translateY(-50%);
}

#left > img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#right {
    position: absolute;
    margin: auto;
    right: 20px;
    width: 42px;
    top: 50%;
    transform: translateY(-50%);
}

#right > img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#layers {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}