<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/app.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/cpr.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"></link>
    <script src="/js/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>

<body oncontextmenu="return false">
    {{{body}}}
    <nav>
        <img class="unselectable" src="/images/favicon42.png"></img>
        <a id="link-share" class="unselectable"><i class="fa fa-floppy-o"></i></a>
        <a id="link-open" class="unselectable"><i class="fa fa-folder-open"></i></a>
        <a id="link-redo" class="unselectable"><i class="fa fa-share"></i></a>
        <a id="link-undo" class="unselectable"><i class="fa fa-reply"></i></a>
        <input type="file" id="fileinput"/>
    </nav>

    <div id="right"><img src="/images/right.png"></img></div>
    <div id="left"><img src="/images/left.png"></img></div>

    <script src="/js/three.min.js"></script>
    <script src="/js/lodash.min.js"></script>
    <script src="/js/FileSaver.min.js"></script>
    <script src="/js/bundle.js"></script>
</body>

</html>