<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/app.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/cpr.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"></link>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/vex.js"></script>
    <script src="/js/vex.dialog.js"></script>
    <script>
    vex.defaultOptions.className = 'vex-theme-os';
    </script>
    <link rel="stylesheet" type="text/css" href="/css/vex.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/vex-theme-os.css"></link>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>

<body oncontextmenu="return false">
    {{{body}}}
    <nav>
        <a id="link-share" class="unselectable"><i class="fa fa-share-alt"></i></a>
        <a id="link-add" class="unselectable"><i class="fa fa-plus-circle"></i></a>
        <a id="link-remove" class="unselectable"><i class="fa fa-minus-circle"></i></a>
        <a id="link-redo" class="unselectable"><i class="fa fa-share"></i></a>
        <a id="link-undo" class="unselectable"><i class="fa fa-reply"></i></a>
        <a id="link-new" class="unselectable"><i class="fa fa-file-o"></i></a>
    </nav>

    <p id="info">
        <b>=/-: </b>zoom<br>
        <b>f: </b>first person mode, <b>(w s a d)</b> to move<br>
        <b>g: </b>hide/show grid<br>
        right click to drag camera
    </p>
    
    <!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://mrdoob.github.com/three.js/build/three.min.js"></script>
    <script src="http://mrdoob.github.com/three.js/examples/js/shaders/CopyShader.js"></script>
    <script src="http://mrdoob.github.com/three.js/examples/js/shaders/SSAOShader.js"></script>
    <script src="http://mrdoob.github.com/three.js/examples/js/postprocessing/EffectComposer.js"></script>
    <script src="http://mrdoob.github.com/three.js/examples/js/postprocessing/RenderPass.js"></script>
    <script src="http://mrdoob.github.com/three.js/examples/js/postprocessing/MaskPass.js"></script>
    <script src="http://mrdoob.github.com/three.js/examples/js/postprocessing/ShaderPass.js"></script>-->
    <script src="/js/three.min.js"></script>
    <script src="/js/lodash.min.js"></script>
    <script src="/js/bundle.js"></script>
</body>

</html>