.cpr-container {
    position: absolute;
    width: 100px;
    left: 20px;
    bottom: 20px;
}

.cpr-block {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
}

.cpr-custom {
    display: inline-block;
    vertical-align: top;
    border-width: 2;
    padding: 1;
    /* 100 minus border and padding*/
    width: 94px;
    height: 20px;
}